.container{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.header{
  flex: 15%;
  background-color: blue;
}
.menu{
  flex: 5%;
  background-color: red;
}
.content{
  flex: 70%;
  background-color: white;
}
.footer{
  flex: 10%;
  background-color: blue;
}
h1 {
  color:red;
}
.tuade {
  color: blue;
  font-family:"Times New Roman";
  font-size: 20pt;
  font-weight: bold;
}
.noidung {
  color: black;
  font-family: "Times New Roman";
  font-size: 15pt;
  font-style: normal;
  margin: 10px 20px;
}
