h1 {
  color:red;
}
.tuade {
  color: blue;
  font-family:"Times New Roman";
  font-size: 20pt;
  font-weight: bold;
}
.noidung {
  color: black;
  font-family: "Times New Roman";
  font-size: 15pt;
  font-style: normal;
  margin: 10px 20px;
}
